html, body {
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: antiquewhite;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input[type=text] {
  padding: 10px;
  margin:10px 0;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  width:100%;
  font-family:inherit;
  font-size: inherit;
  text-align: center;
}

button {

  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:100%;

}